

.outputShell {
    height: 80vh;
    border-radius: 5px;
    overflow-y: scroll;
    overflow-x: scroll;
    text-align: left;
    border: solid grey 1px;
    flex-direction: column-reverse;
    display: flex;
}

.terminal {
    max-width: 60%;
    padding: 20px;
    bottom: 0px;
}

.commandOutput {
    padding-left: 10px;
}